.about {
  background: linear-gradient(90deg, #E6DACE 39%, #FFFFFF 40%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2%;
}

.info-card {
  justify-content: end;
}