.about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 2%;
  background: #e6dace;
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
}

.info-card {
  justify-content: end;
}