.resume {
  display: grid;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding: 2%;
  /* background: #f8ede2; */
  z-index: 0;
}
.section-title {
  color: #333333;
  margin: 100px 0 0 0;
  text-align: center;
  font-weight: bolder;
  font-size: 40px;
}

@media screen and (max-width: 960px) {
  .resume {
    margin-top: 30vh;
  }
}
