.section {
  justify-items: center;
  display: grid;
  grid-template-columns: auto auto;
}
.resume-sections {
  color: #888888;
  margin: 100px 0 -20px 0;
  font-size: 25px;
  font-weight: bold;
}

.button {
  background-color: #c60021;
  border: 2px solid #c60021;
  color: #fff;
  padding: 5px;
  margin: 100px 0 -20px 186px;
  width: 200px;
  height: 34px;
  text-align: center;
  border-radius: 100px;
  text-decoration: none;
  transition: 0.2s;
}
.button:hover {
  border: 2px solid #333333;
  color: #333333;
  background-color: #f4ece6;
}

.cards {
  grid-column-start: 1;
  grid-column-end: 3;
  margin: 50px auto -20px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  border: none;
  box-shadow: 0 2px 18px 0 #888888;
  z-index: 1;
  height: 370px;
  width: 725px;
  background-color: #fff;
}

.card-left {
  padding: 40px 40px 0 40px;
}

.cards h3 {
  font-size: 15px;
  margin-bottom: -15px;
  font-weight: 600;
  color: #777;
}
.cards h2 {
  margin-top: 15px;
  margin-bottom: -5px;
  font-size: 20px;
  font-weight: bold;
  color: #333333;
}
.cards h1 {
  font-size: 30px;
  font-weight: bolder;
  color: #333333;
}

.resume-info {
  font-size: 15px;
  margin-bottom: -15px;
  font-weight: 600;
  color: #333;
  font-size: 20px;
}
.project-info {
  font-size: 15px;
  margin-bottom: -15px;
  font-weight: 600;
  color: #777;
}

.resume-logos {
  width: 45%;
}

.resume-logo-container {
  width: 100%;
}

.card-right {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  padding: 40px;
  border-left: 2px dotted #c60021;
}
.proje-logos {
  width: 100%;
}
.proje-logo-container {
  width: 100%;
}

.card-project-link .fa-github {
  color: #888888a4;
  font-size: 2rem;
  transition: 0.2s;
}

.card-project-link .fa-github:hover {
  color: #333333;
}

.project-names {
  border-left: 10px solid red;
  font-size: 30px;
  font-weight: bolder;
  color: #000;
}

.ty-lang {
  position: relative;
  bottom: -50%;
}
.pfr-lang {
  position: relative;
  bottom: -39%;
}
.ttt-lang {
  position: relative;
  bottom: -45%;
}
.pf-lang {
  position: relative;
  bottom: -45%;
}
.jae-lang {
  position: relative;
  bottom: -45%;
}
.mgc-lang {
  position: relative;
  bottom: -34%;
}
