.info {
  margin: 0 0 0 2%;
  display: grid;
  border: none;
  width: 500px;
  grid-template-columns: repeat(4, 1fr);
}

.info h1 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  color: #333333;
  margin: 0 0 3% 0;
  font-weight: bolder;
  font-size: 60px;
}

.info h2 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  color: #333333;
  margin: 0 0 3% 0;
  font-weight: bold;
  font-size: 40px;
}

.info .info-resume,
.info .info-proje {
  margin: 0 0 3% 0;
  justify-self: center;
  background-color: #c60021;
  border: 2px solid #c60021;
  color: #fff;
  padding: 5px;
  width: 110px;
  height: 34px;
  text-align: center;
  border-radius: 100px;
  text-decoration: none;
  transition: 0.2s;
  cursor: pointer;
}
.info .info-resume:hover,
.info .info-proje:hover {
  color: #000;
  background-color: #fff;
  border: 2px solid #000;
  cursor: pointer;
}

.info p {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
  color: #333333;
  margin: 3% 0;
  font-size: 20px;
}

.info #info-resume {
  margin: 0;
  margin-right: -30px;
}

@media screen and (max-width: 960px) {
  .info h1 {
    margin-top: 5%;
    text-align: center;
  }
  .info h2 {
    text-align: center;
  }
  .info .info-resume {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .info .info-proje {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .info p {
    grid-row-start: 5;
    grid-row-end: 5;
    text-align: center;
  }
}
